<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burger Bay</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script src="https://vuejs.org/js/vue.js"></script>
      <script src="js/js_script.js" defer></script>
      <script src="js/menu.js"></script>
      <script src="js/vue_script.js" defer></script>
  </head>

  <body>
    <section class="head">
      <image src="https://static1.squarespace.com/static/562b917be4b04e54c893f5ec/57bec1e7579fb351c736ab3c/57bec1e7579fb351c736ab3d/1472119277640/small19jpg.jpg" id="headimg">
      <h1><span id="headtext">Welcome to Burger Bay</span></h1>
    </section>
      <section id="whole">
        <section class="first">
          <div class="firstText">
            <h2>Select burger</h2>
            <p>This is where you select a burger</p>
            <div id="wrapper">
              <div v-for="menu in menues">
                <h2>{{ menu.name }}</h2>
                <p><image :src="menu.img" width="300"></p>
                <li>{{ menu.kCal }}</li>
                <li v-if="menu.lactose">Contains <span class="allergies">Lactose</span></li>
                <li v-if="menu.gluten">Contains <span class="allergies">Gluten</span></li>
                <input type="checkbox" name="ordered" :id="menu.name">
              </div>
            </div>
          </div>
        </section>

        <section class="second">
          <div class="secondText">
            <h3>Customer info</h3>
            <p>This is where you provide necessary information</p>
            <h4>Delivery info</h4>

            <form>
              <p>
                <label for="Fullname">Full name</label><br>
                <input v-model="name" type="text" id="Fullname" name="fn" required="required" placeholder="First- and lastname">
              </p>
              <p>
                <label for="email">Email</label><br>
                <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address">
              </p>
              <p>
                <label for="street">Street</label><br>
                <input v-model="street" type="text" id="street" name="st" required="required" placeholder="Street name">
              </p>
              <p>
                <label for="house">House</label><br>
                <input v-model="house" type="number" id="house" name="ho" required="required" placeholder="House number">
              </p>
              <p>
                <label for="pay">Payment method</label><br>
                <select v-model="paymentMethod" id="pay" name="payment">
                  <option>Swish</option>
                  <option>Klarna</option>
                  <option>Credit card</option>
                </select>
              </p>
              <p>
                Gender<br>
                <input type="radio" id="male" v-model="gender" name="male" value="male" checked><label for="male">Male</label><br>
                <input type="radio" id="female" v-model="gender" name="male" value="female"><label for="female">Female</label><br>
                <input type="radio" id="none" v-model="gender" name="male" value="none"><label for="none">Do not wish to provide</label><br>
              </p>
              <button type="submit" onclick="printOrder()" v-on:click.prevent="order()">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU5waLIefgLPBm3ORwvnp6iYP9rYijP6PtoIjRnSaTeTyPd5hSzw" width="10">Submit
              </button>

              <div v-if="clicked" id="bekr">
                <h3>Order summary(Vue):</h3>
                <p>Burgers: {{burgers}} </p>
                <p>Name: {{name}}</p>
                <p>Email: {{email}}</p>
                <p>Street: {{street}}</p>
                <p>House: {{house}}</p>
                <p>payment method: {{paymentMethod}}</p>
                <p>Gender: {{gender}}</p><br>
              </div>
              <div id="bekrJS">
              </div>
            </form>
          </div>
        </section>
      </section>
      <footer id="fot">
        <p>© Hypothetical burgers inc.</p>
      </footer>
    </body>
</html>
